
 <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <% @eventsDays.each do |days| %> 
        <li ><a href="#<%=days%>"class="waves-effect waves-custom" data-toggle="tab"><%=days%></a></li>
      <% end -%>  
    </ul>
    <div id="my-tab-content" class="tab-content">
       <% @eventsDays.each do |days| %> 
        <div class="tab-pane fade" id="<%=days%>">
           <p>fghhghgf<p>
        </div>
      <% end -%>
    </div>
</div>