<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <% provide(:title, "Pacotes") %>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row m-t-10">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">

                                    <!--Pricing Column-->
                                    <article class="pricing-column col-lg-3 col-sm-6">
                                        <div class="inner-box card-box">
                                            <div class="plan-header text-center">
                                                <h3 class="plan-title">Ouro</h3>
                                                <h2 class="plan-price">R$ 45 </h2>
                                                
                                            </div>
                                            <ul class="plan-stats list-unstyled text-center">
                                                <li>2 Mini-cursos</li>
                                                <li>1 Kit</li>
                                                <li>2 Visitas</li>
                                                
                                            </ul>

                                          
                                        </div>
                                    </article>


                                    <!--Pricing Column-->
                                    <article class="pricing-column col-lg-3 col-sm-6">
                                  
                                        <div class="inner-box card-box">
                                            <div class="plan-header text-center">
                                                <h3 class="plan-title">Prata</h3>
                                                <h2 class="plan-price">R$ 35</h2>
                                                
                                            </div>
                                            <ul class="plan-stats list-unstyled text-center">
                                                <li>2 mini-cursos</li>
                                                <li>1 kit</li>
                                                <li>1 Visita</li>
                                               
                                            </ul>

                                        </div>
                                    </article>


                                    <!--Pricing Column-->
                                    <article class="pricing-column col-lg-3 col-sm-6">
                                        <div class="inner-box card-box">
                                            <div class="plan-header text-center">
                                                <h3 class="plan-title">Bronze</h3>
                                                <h2 class="plan-price">R$ 30</h2>
                                                
                                            </div>
                                            <ul class="plan-stats list-unstyled text-center">
                                                <li>1 mini-curso</li>
                                                <li>1 Kit</li>
                                                <li>1 Visita</li>
                                               
                                            </ul>

                                          
                                        </div>
                                    </article>

                                   

                                </div><!-- end row -->
                            </div>
                        </div>
                        <!-- end row -->

                        


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2016 © Adminto.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->