<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
            <div class="portfolioFilter">
                <ul class="tabs ">
                    <li class="tab  waves-effect waves-custom"><a href="#test1">Palestras</a></li>
                    <li class="tab  waves-effect waves-custom"><a class="active" href="#test2">Workshop's</a></li>
                    <li class="tab  waves-effect waves-custom"><a class="active" href="#test3"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="test1" class="col s12">
        <div class="row port m-b-20">
            <div class="portfolioContainer">
               <%=render 'profiles/palestras'%>     
            </div>
            <!-- end portfoliocontainer-->
        </div>
        <!-- End row -->
    </div>
    <div id="test2" class="col s12">
        <div class="row port m-b-20">
            <div class="portfolioContainer"> 

              <%=render 'profiles/workshops'%> 
            </div>
            <!-- end portfoliocontainer-->
        </div>
        <!-- End row -->
    </div>
    <div id="test3" class="col s12">Test 2</div>
</div>
<!-- container -->