<div class="hidden-print">
  <div class="pull-left">
    <h4 class=" text-inverse font-600"> FORMA DE PAGAMENTO</h4>
    <div class="form-group m-b-0">
      <h5 class=" text-inverse font-600"><%= @user.payment.method %></h5>
    </div>
    <div class="form-group m-b-0">
      <p class="form-control-static"><b><b>Local de Pagamento:</b></b>
        <%= current_week[:infos][:local] %>
      </p>
    </div>
  </div>
</div>