<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<% if !@user.package %>
  <div class="alert alert-warning">
    <strong>Atenção!</strong> Você não escolheu nenhum pacote.
  </div>
<% end %>

<%= render_cart %>
