<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">New Event</h4>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', events_path %>