<div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">Bem vindo, à <%= @current_week.name %>!</h4>
    </div>
    <div class="panel-body">
        <form method="post" action="index.html" role="form" class="text-center">
            <div class="user-thumb">
                 <%= image_tag(image_tenant, class:"img-responsive img-circle img-thumbnail") %>
            </div>
            <div class="form-group">
                <p class="text-muted m-t-10">
                    Faça sua inscrição agora!
                </p>
                <div class="input-group m-t-30">
                    <span class="input-group-btn">
                        <%= link_to('Fazer inscrição', new_user_registration_path , class:'btn btn-pink w-sm waves-effect waves-light') %>
                    </span>
                    <span class="input-group-btn">
                        <%= link_to('Entrar', new_user_session_path , class:'btn btn-pink w-sm waves-effect waves-light') %>
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>