<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Editar administrador</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>
<div class="panel-footer">
  <%= link_to 'Exibir', admin_admin_path(@admin_admin), class: 'btn btn-primary waves-effect w-md waves-light m-b-5' %>
  <%= link_to 'Listar', admin_admins_path, class: 'btn btn-primary waves-effect w-md waves-light m-b-5'%>
</div>