<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-30">Editing Schedule</h4>
      <%= render 'form' %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Mostrar', [:admin, @event], class: 'btn btn-primary waves-effect w-md waves-light m-b-5' %>
    </div>
  </div>
</div>