<h4 class="header-title m-t-0 m-b-30">Meu pacote</h4>

    <ul class="list-group m-b-0 user-list">
      <li class="list-group-item">
        <a href="#" class="user-list-item">
          <div class="avatar">
            <img src="assets/images/users/avatar-2.jpg" alt="">
          </div>
          <div class="user-desc">
            <span class="name">Michael Zenaty</span>
            <span class="desc">CEO</span>
          </div>
        </a>
      </li>

      <li class="list-group-item">
        <a href="#" class="user-list-item">
          <div class="avatar">
            <img src="assets/images/users/avatar-3.jpg" alt="">
          </div>
          <div class="user-desc">
            <span class="name">James Neon</span>
            <span class="desc">Web Designer</span>
          </div>
        </a>
      </li>

      <li class="list-group-item">
        <a href="#" class="user-list-item">
          <div class="avatar">
            <img src="assets/images/users/avatar-5.jpg" alt="">
          </div>
          <div class="user-desc">
            <span class="name">John Smith</span>
            <span class="desc m-b-0">Web Developer</span>
          </div>
        </a>
      </li>

      <li class="list-group-item">
        <a href="#" class="user-list-item">
          <div class="avatar">
            <img src="assets/images/users/avatar-6.jpg" alt="">
          </div>
          <div class="user-desc">
            <span class="name">Michael Zenaty</span>
            <span class="desc">Programmer</span>
          </div>
        </a>
      </li>

      <li class="list-group-item">
        <a href="#" class="user-list-item">
          <div class="avatar">
            <img src="assets/images/users/avatar-1.jpg" alt="">
          </div>
          <div class="user-desc">
            <span class="name">Mat Helme</span>
            <span class="desc">Manager</span>
          </div>
        </a>
      </li>
    </ul>