<!--- Sidemenu -->
<div id="sidebar-menu">
    <ul>
        <li class="text-muted menu-title">Navigation</li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-invert-colors"></i> <span> Semana </span> </a>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-list"></i> <span> Minha semana </span> </span></a>
        </li>
        <li>

        <%= link_to 'semana', class: 'waves-effect' do %>
  <i class="zmdi zmdi-calendar"></i>
  <span> Programação </span>
  <% end -%>

     
           
               
           
        </li>

        <li>
            <a href="inbox.html" class="waves-effect"><i class="zmdi zmdi-email"></i><span class="label label-purple pull-right">New</span><span> Mail </span></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Sidebar -->
<div class="clearfix"></div>
<!-- Left Sidebar End -->