<!--- Sidemenu -->
<div id="sidebar-menu">
    <ul>
        <li class="text-muted menu-title">Navigation</li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-home"></i> <span> Início </span> </a>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-mall"></i> <span> Meu pacote </span> </span></a>
        </li>
        <li>
            <%= link_to 'profiles/semana', class: 'waves-effect' do %>
            <i class="zmdi zmdi-calendar"></i>
            <span>Minha Semana</span>
            <% end -%>
        </li>
        <li>
            <a href="inbox.html" class="waves-effect"><i class="zmdi zmdi-email"></i><span class="label label-purple pull-right"></span><span>Pacotes</span></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- Sidebar -->
<div class="clearfix"></div>
<!-- Left Sidebar End -->
