<div class="user-box">
    <div class="user-img">
        <%= image_tag("users/avatar-1.jpg", class:"img-circle img-thumbnail img-responsive") %>
        <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
    </div>
    <h5><a href="#"> <%= @user.name %> </a> </h5>
    <ul class="list-inline">
        <li>
            <a href="#" >
            <i class="zmdi zmdi-settings"></i>
            </a>
        </li>
        <li>
            <%= link_to(destroy_user_session_path, :method => :delete) do %> 
            <i class="zmdi zmdi-power"></i> 
            <% end %>
        </li>
    </ul>
</div>
<!-- End User -->